# hypr/.config/hypr/HyprVim/vim-user.conf.example

################################################################################
# USER CUSTOMIZATIONS
################################################################################
#
# Copy this file to vim-user.conf and add your personal customizations.
#   cp vim-user.conf.example vim-user.conf
#
# The vim-user.conf file is ignored by git, so your personal config stays local.
#
################################################################################

# Example: Personal submap integrations in NORMAL mode
# submap = NORMAL
#
# bindd = $LEADER, G, My custom submap, submap, MySubmap
# bindd = $LEADER, X, Another custom binding, exec, my-script.sh
# bindd = $LEADER, W, Activate Mouse Cursor Submap, submap, Cursor
# bindd = $LEADER, R, Activate Resize Submap, submap, Resize
# bindd = $LEADER, I, Activate Screenshot Submap, submap, Screenshot
#
# submap = reset
#
